<% include ./partials/header %>
<div id="main">
<h2>Submit a file to view its filesize:</h2>
	<div id="centered">		
		<form action = "/" method = "POST" enctype = "multipart/form-data" id="form">
			<label for="fileinput">Browse...</label>
			<input id="fileinput" type="file" name="file"/>						
			<button type="submit" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-upload"></i>Upload</button>
		</form>	
		<div id="form-error"></div>
	</div>	
</div>
<% include ./partials/footer %>				
