body{
	font-family: 'Roboto Slab', serif;
	color: #444;
	text-align: center;
}

#input-box{
	margin: 20px 0; 
}

#footer{
	text-align: center;
	margin: 20px 0; 	
}

.truncate {
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#errors{
	padding-left:15px;
	padding-top: 10px;
	color: red; 
	height: 20px;
}

.glyphicon{
	display: inline-block;
	margin-right: 10px;
}

label {
   	cursor: pointer;
	margin-right: 20px;   
}

#fileinput{
   opacity: 0;
   position: absolute;
   z-index: -1;
}

#main{
	background: #eee;
	min-height: 300px;
	padding-top: 5%;
	padding-left:25px; 
	padding-right:25px;
}

#centered{
	width: 250px;
	margin: 25px auto;		
}

#form-error{
	color: red;
}


